<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/javascripts/RequestManager.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('sections/header', { title: 'User List' }) %>

    <!-- Форма для фільтрації користувачів -->
    <form action="/users" method="GET">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= typeof name !== 'undefined' ? name : '' %>"
      />

      <label for="age">Age:</label>
      <input
        type="number"
        id="age"
        name="age"
        value="<%= typeof age !== 'undefined' ? age : '' %>"
      />

      <button type="submit">Filter</button>
      <a href="/users"><button type="button">Clear Filters</button></a>
      <!-- Кнопка для очищення фільтрів -->
    </form>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Password</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td><%= user.password %></td>
          <td><%= user.email %></td>
          <td>
            <a href="/users/register/<%= user.id %>">Edit</a>
            <button
              onclick="RequestManager.deleteRequest('/users', '<%= user.id %>')"
            >
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <hr />
    <a href="/users/register">Додати користувача</a>
  </body>
</html>
